#jinja2: lstrip_blocks: True
{% import "parsers.j2" as parsers with context %}
{% import "functions.j2" as functions with context %}
#!/usr/bin/env nft -f
# Ansible managed

##############################################
############ Clear existing rules ############
##############################################
flush ruleset

#############################################
############ Add Standard ranges ############
#############################################
define ipv4_addr_rfc1918 = { 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16 }
define ipv6_addr_ula = { fc00::/7 }

#############################################
############ Add Standard tables ############
#############################################
add table ip filter

####################################
############ Add chains ############
####################################
# Source keys: {{ parsers.get_defined_vars('nftables_global') }}
{{ functions.defaultchains(parsers.get_merged_map('nftables_global') | from_json) }}

###################################
############ Add zones ############
###################################
{% for zone in parsers.get_merged_list('nftables_zones') | from_json | default([]) -%}
{{ functions.create_zone(zone) }}
{% endfor %}

###################################
############ Add sets ############
###################################
{% for set in parsers.get_merged_list('nftables_sets') | from_json | default([]) -%}
{{ functions.create_set(set) }}
{% endfor %}

{% for set in nftables_dnsmasq_sets | default([]) -%}
{{ functions.create_set(set, true) }}
{% endfor %}

#########################################
############ Add input rules ############
#########################################
{% for input_rule in nftables_input_rules | default([]) -%}
{{ functions.create_input_rule(input_rule, nftables_global) }}
{% endfor %}

###########################################
############ Add forward rules ############
###########################################
{% for forward_rule in nftables_forward_rules | default([]) -%}
{{ functions.create_forward_rule(forward_rule, nftables_global) }}
{% endfor %}

#######################################
############ Add nat rules ############
#######################################
{% for nat_rule in nftables_nat | default([]) -%}
{{ functions.create_nat_rule(nat_rule, nftables_global) }}
{% endfor %}

{{ parsers.get_defined_vars('nftables_global') }}
----
{#{% set merged_dict = functions.get_deep_merged_var('nftables_global') | from_json %}
{{ merged_dict }}
{% for k, v in merged_dict.items() %}
  key: {{ k }}, value: {{ v }}
{% endfor %}#}


{% for k, v in (parsers.get_merged_map('nftables_global') | from_json).items() %}
  key: {{ k }}, value: {{ v }}
{% endfor %}

{% set merged_dict3 = parsers.get_merged_list('nftables_global2') | from_json %}
{{ merged_dict3 }}
{% for item in merged_dict3 %}
item {{ item }}
{% endfor %}


{% set merged_dict3 = parsers.get_merged_list('nftables_zones') | from_json %}
{{ merged_dict3 }}
{% for item in merged_dict3 %}
item {{ item }}
{% endfor %}

##
{{ parsers.get_defined_vars('nftables_global') | from_json }}
##
{{ parsers.get_merged_map('nftables_global') | from_json }}
#
