#
# reserved values
#
255     local
254     main
253     default
0       unspec
#
# local
#
#1      inr.ruhep
{% for routing_table in nftables_routing_tables | default([]) %}
{{ routing_table.id }}     {{ routing_table.name }}
{% endfor %}
